div[id^="dlov_milly"] .colorpalette-item {
   margin-top: 5px !important;
   border-radius: 3px;
   width: 170px;
   background-size: 8%;
   height: 28px;
}

div[id^="dlov_milly"] .colorpalette-item .color {
   width: 170px;
   border-radius: 3px;
   height: 28px;
}

div[id^="dlov_milly"] .et_pb_colorpalette_overview {
   margin-bottom: 0 !important;
   display: inline-block;
}

[class^=dlov_icon] {
   background-size: cover;
   width: 40px;
   height: 40px
}

.dlov_icon1 {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 26 26'%3E%3Cpath fill='%23008BDB' d='M14.06 13 24.78 2.28a.75.75 0 1 0-1.06-1.06L13 11.94 2.28 1.22a.75.75 0 1 0-1.06 1.06L11.94 13 1.22 23.72a.75.75 0 1 0 1.06 1.06L13 14.06l10.72 10.72a.747.747 0 0 0 1.06 0 .75.75 0 0 0 0-1.06L14.06 13z'/%3E%3C/svg%3E");
   width: 30px;
   height: 30px;
   transform: translateY(-5px);
}

.dlov_icon2 {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='512' style='enable-background:new 0 0 512 512' width='512' xml:space='preserve'%3E%3Cpath d='M443.6 387.1 312.4 255.4l131.5-130c5.4-5.4 5.4-14.2 0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4-3.7 0-7.2 1.5-9.8 4L256 197.8 124.9 68.3c-2.6-2.6-6.1-4-9.8-4-3.7 0-7.2 1.5-9.8 4L68 105.9c-5.4 5.4-5.4 14.2 0 19.6l131.5 130L68.4 387.1c-2.6 2.6-4.1 6.1-4.1 9.8 0 3.7 1.4 7.2 4.1 9.8l37.4 37.6c2.7 2.7 6.2 4.1 9.8 4.1 3.5 0 7.1-1.3 9.8-4.1L256 313.1l130.7 131.1c2.7 2.7 6.2 4.1 9.8 4.1 3.5 0 7.1-1.3 9.8-4.1l37.4-37.6c2.6-2.6 4.1-6.1 4.1-9.8-.1-3.6-1.6-7.1-4.2-9.7z' style='fill:%23008bdb'/%3E%3C/svg%3E");
}

.dlov_icon3 {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zM11.4 10l2.83-2.83-1.41-1.41L10 8.59 7.17 5.76 5.76 7.17 8.59 10l-2.83 2.83 1.41 1.41L10 11.41l2.83 2.83 1.41-1.41L11.41 10z' style='fill:%23008BDB'/%3E%3C/svg%3E");
}

.dlov_icon4 {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Livello 1' viewBox='0 0 128 128'%3E%3Cpath d='M64 0a64 64 0 1 0 64 64A64.07 64.07 0 0 0 64 0Zm0 122a58 58 0 1 1 58-58 58.07 58.07 0 0 1-58 58Z' style='fill:%23008BDB'/%3E%3Cpath d='M92.12 35.79a3 3 0 0 0-4.24 0L64 59.75l-23.87-24A3 3 0 0 0 35.88 40l23.88 24-23.88 24a3 3 0 0 0 4.25 4.24L64 68.25l23.88 24A3 3 0 0 0 92.13 88L68.24 64l23.89-24a3 3 0 0 0-.01-4.21Z' style='fill:%23008BDB'/%3E%3C/svg%3E");
}

.jquery-checkbox:not(.jquery-checkbox-checked)+[class^=dlov_icon] {
   opacity: 0.2;
   filter: saturate(0);
}

.jquery-checkbox:not(.jquery-checkbox-checked)+[class^=dlov_loader] {
   opacity: 0.4;
   filter: saturate(0);
}

label[for^=dlov_icon] .jquery-checkbox,
label[for^=dlov_loader] .jquery-checkbox {
   display: none;
}

div[class^=dlov_loader] {
   margin-right: 10px;
}

div[class^=dlov_loader] svg {
   width: 40px;
}

.et-box-content .dlov_loader1 svg {
   width: 50px;
}

.et-box-content div.dlov_loader1,
.et-box-content div.dlov_loader3 {
   transform: translate(0, -15px);
}

.et-box-content div.dlov_loader4 {
   transform: translate(0, 5px);
}

.et-box-content div.dlov_loader5 {
   transform: translate(0, -5px);
}

/* API Activation styles */
body[class*="settings_page_wc_am_client"] div.wrap {
   background: white;
   border: none;
   box-shadow: 0 5px 30px rgb(0 0 0 / 10%);
   border-radius: 3px;
   color: #32373c;
   max-width: 900px;
   margin-left: 15px;
   font-family: 'Open Sans', sans-serif;
   box-sizing: border-box;
}

body[class*="settings_page_wc_am_client"] div.wrap>h2:first-of-type {
   margin: 30px 0 0;
   font-weight: 600 !important;
   font-size: 18px !important;
   line-height: 1em;
   padding: 20px 30px;
   background: #6c2eb9;
   border-radius: 3px 3px 0 0;
   color: #fff;
}

body[class*="settings_page_wc_am_client"] div.wrap h2.nav-tab-wrapper {
   padding: 0;
   margin: 0;
   background: #F1F5F9;
   border-bottom: none;
}

body[class*="settings_page_wc_am_client"] div.wrap h2.nav-tab-wrapper a {
   padding: 15px 30px;
   color: #8E969E;
   background: #F1F5F9;
   border: none;
   margin: 0;
   font-size: 14px;
   line-height: 14px;
   font-weight: 600;
   box-shadow: none;
}

body[class*="settings_page_wc_am_client"] div.wrap h2.nav-tab-wrapper a.nav-tab-active {
   background: #fff;
}

body[class*="settings_page_wc_am_client"] div.wrap form {
   padding: 30px;
}

body[class*="settings_page_wc_am_client"] div.wrap h2 {
   color: #32373c;
   font-weight: 600;
}

body[class*="settings_page_wc_am_client"] div.wrap .button.button-primary {
   transition: background .5s;
   color: #FFF;
   cursor: pointer;
   background-color: #00C3AA;
   box-shadow: none;
   border: none;
   padding: 0 20px;
   font-size: 14px;
   font-weight: 600;
   height: 40px;
   line-height: 40px;
   display: inline-block;
   border-radius: 3px;
   position: relative;
}
body[class*="settings_page_wc_am_client"] div.wrap div.notice {
    margin: 30px 10px;
    border:none;
    border-radius:4px;
    box-shadow:none;
    background:#F1F5F9;
}

body[class*="settings_page_wc_am_client"] div.wrap div.notice.notice-success {
    background:#dff5ed;
}
body[class*="settings_page_wc_am_client"] div.wrap div.notice.notice-error {
    background:#fae8ec;
}
body[class*="settings_page_wc_am_client"] div.wrap .notice-dismiss:active:before, body[class*="settings_page_wc_am_client"] div.wrap .notice-dismiss:focus:before, body[class*="settings_page_wc_am_client"] div.wrap .notice-dismiss:hover:before {
   color:#000;
}
input#api_key {
   border-radius: 3px;
   border: none;
   box-shadow: none;
   background-color: #F1F5F9;
   padding: 13px;
   font-size: 16px;
   color: #4c5866;
   height: 30px;
}

input#api_key:focus {
   background: #e6ecf2
}